*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    overflow: hidden;
    border-radius: 10px;

}

header{
    background-color: rgb(142, 224, 209);
    color: rgb(130, 133, 135);
    padding: 7px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

h1{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 32px;
    margin-left: 10px;

}

.btn{
    background-color: transparent;
    border: none;
    outline: none;
}

.container{
    background-color: rgb(206, 218, 228);
    padding: 20px;
    display: flex;
    
}

.users-window{
    width: 350px;
    color: rgb(181, 196, 209);
    background-color: rgb(91, 99, 106);
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.users-head{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}
.users-head h4{
    background-color: rgb(203, 167, 203);
    padding: 0 8px;
    border-radius: 50px;
    color: rgb(249, 249, 249);
}

.users-list p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}

.chat-window{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(91, 99, 106);
}

.chats{
    min-height: 65vh;
    padding: 20px;
}

.users-join{
    font-size: 0.9rem;
    color: rgb(91, 99, 106);
    background-color: rgb(200, 176, 205);
    border-radius: 50px;
    width: max-content;
    padding: 7px 20px;
    margin: 0 auto;
    margin-bottom: 15px;

}

.message{
    color: rgb(91, 99, 106);
    background-color: rgb(166, 181, 185);
    padding: 5px 15px;
    max-width: 400px;
    margin-bottom: 15px;
    border-radius: 10px 50px 50px 10px;
}
.message p{
    font-size: 15px;

}

.outgoing{
    margin-left: auto;
    color: white;
    background-color: rgb(135, 116, 135);
    border-radius: 50px 10px 10px 50px;
    text-align: right;
    }

.user-input{
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    padding: 20px;

}
.user-input input{
    font-size: 12px;
    background-color: white;
    padding: 10px 20px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 50px 0 50px 0;
}

.user-input button{
    font-size: 15px;
    font-weight: 600;
    padding: 5px 15px;
    border: none;
    outline:none;
    letter-spacing: 0.5px;
    color: white;
    background-color: rgb(209, 209, 150);
    border-radius: 0 50px 0 50px ;
}